body {
  background-color:#9CBDDD;
  color:black;
  text-align:left;
  font-family:Anton;
  margin-left:10%;
  margin-right:10%;
}

.heading {
  font-family:Anton SC&family, cursive;
  text-align:center;
  font-size:300%;
  color:black;
  text-shadow: #DD9CDD 2px 2px;
}

h2.heading {
  font-size:200%
}
