body {
  margin:0px;
}

#content, #album, #info {
  float:left;
}

#content {
  border:solid 2px #abb;
  width: 50%;
}

#album {
  border: solid 2px #abb;
  width:30%;
}

#info {
  border: solid 2px #abb;
  max-width:18%;
}

#player button {
  float: left;
}

#player audio::-webkit-media-controls-play-button {
  display:none;
}

#player audio {
  height: 1em;
}

#banner {
  max-height:220px;
  width:1000px;
}

#tracklist {
  list-style-type:none;
}

.track-li {
  font-size:125%;
  font-style:italic;
}

.track-player::-webkit-media-controls-panel {
  background-color: #fff;
}

.track-player {
  height: 1em;
}

#album-cover {
  max-width:90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding:15px;
}

html {
  background-color:#abb;
  font-family: 'Inria Sans', italic;
}

#info img {
  max-width: 95%;
  margin: auto;
  display: inline-block;
}

a {
  text-decoration:none;
}
