body {
  margin: 0;
  background-color:#42a2ff;
}

#to-do-list {
  list-style-type: none;
}

#header {
  text-align: center;
  
}

#list {
  background-color: #FFC0CB;
}

.bordered {
  border-style: solid;
  border-width: 3px;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
